* {
  box-sizing: border-box;
}

body {
  /* font-family: "OCR A Std", monospace; */
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}
main {
  margin-top: 100px;
}
@media only screen and (min-width: 600px) {
  main {
    margin-top: 0;
  }
}
nav,
footer {
  padding: 1% 0;
  background-color: lightblue;
  border: solid black;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: lightblue;
  border: solid black;
  max-height: 100px;
}

header {
  display: inline-block;
  max-width: 1000px;
  padding: 100px;
}
p {
  font-size: 30px;
}
@media only screen and (max-width: 600px) {
  header {
    display: inline-block;
    max-width: 1000px;
    padding: 10px;
  }
}

section {
  max-width: 1000px;
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}
#appOne {
  display: block;
  max-width: 1000px;
  padding: 100px;
  padding-bottom: 10px;
  margin: 0 auto;
  background-color: lightblue;
  border: solid black;
}
#oneImg {
  display: block;
  max-width: 1000px;
  padding: 100px;
  border: solid black;
  background-color: lightblue;
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 600px) {
  #appOne {
    display: inline-block;
    max-width: 1000px;
    padding: 10px;
  }
}
#bio {
  background-color: lightblue;
  border: solid black;
}
#outlets {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 80px;
}
.logos {
  padding: 20px;
  display: flex;
  display: inline;
}
ul {
  margin: 0;
}
.langs {
  font-size: 50px;
  display: flex;
  justify-content: space-evenly;
}
#name {
  flex: 2;
  text-align: left;
  margin-left: 40px;
}
#bars {
  display: none;
}
@media screen and (max-width: 600px) {
  #bars {
    display: inline-block;
  }
  #menu {
    display: none;
  }
  #outlets {
    padding-right: 15px;
  }
}
#image {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  max-height: 1000px;
  width: 100%;
  height: auto;
  align-items: center;
}
