* {
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  /* font-family: "OCR A Std", monospace; */
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  background-color: #00134d;
}
#bodyWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;

  z-index: -5;
  background: url(images/background.jpg);
  opacity: 0.7;
}
main {
  margin-top: 100px;
}
@media only screen and (min-width: 600px) {
  main {
    margin-top: 0;
  }
}
nav,
footer {
  background-color: #00ace6;
  border: solid black;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: black;
  background-color: #00ace6;
  border: solid black;
  max-height: 100px;
  border-radius: 0 0 10px 10px;
  border-top: 0;
}

header {
  display: inline-block;
  max-width: 1000px;
  padding: 100px;
}
p {
  font-size: 30px;
}
@media only screen and (max-width: 600px) {
  header {
    display: inline-block;
    max-width: 1000px;
    padding: 10px;
  }
}

section {
  max-width: 1000px;
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}
#appOne {
  display: block;
  max-width: 1000px;
  padding: 100px;
  padding-bottom: 10px;
  margin: 0 auto;
  background-color: lightblue;
  border: solid black;
  border-top: 0;
}
#oneImg {
  display: block;
  margin: 0 auto;
  position: relative;
  color: lightblue;
  background-color: #006699;
  border: solid black;
  border-radius: 10px 10px 0 0;
  border-bottom: 0;
}
@media only screen and (max-width: 600px) {
  #appOne {
    display: inline-block;
    max-width: 1000px;
    padding: 10px;
  }
}
#bio {
  color: lightblue;
  background-color: #006699;
  border: solid black;
  border-radius: 0 0 10px 10px;
}
#outlets {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 80px;
}
.logos {
  padding: 20px;
  display: flex;
  display: inline;
}
ul {
  margin: 0;
}
.langs {
  font-size: 50px;
  display: flex;
  justify-content: space-evenly;
}
#name {
  flex: 2;
  text-align: left;
  margin-left: 40px;
}
#bars {
  display: none;
}
#menu {
  font-size: 60px;
}
@media screen and (max-width: 600px) {
  #bars {
    display: inline-block;
  }
  #menu {
    font-size: 40px;
  }
  #outlets {
    padding-right: 15px;
  }
}
#image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
#myBtn {
  background-color: #00ace6;
  font-size: 20px;
  margin-right: 15px;
  margin-top: 10px;
  border: 1px solid black;
}
.langLogos div {
  font-size: 22px;
}
.contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.email {
  font-size: 15px;
  margin-left: 15px;
  font-weight: bold;
}
.pageLinks {
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  color: black;
}
.linkStyle {
  color: black;
  text-decoration: none;
}
.linkStyle:hover {
  color: snow;
}
#coltitle {
  color: lightblue;
}
